{% extends "base.html" %}

{% load static wagtailcore_tags %}

<!--{% block body_class %}template-homepage{% endblock %}-->

{% block header-text %}

    <div class="hero-text-box">
        <h1>Learn by start building <br> Real Projects </h1>
        <h3>We are working on creating simple tutorials for you to start budling your product.<br> Mean while we shared few best resources worth reading. </h3>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <section class="section-whycoding">

            <div class="row">
                <div class="col-12"><h2>Why it’s inevitable to code <br>your web product by yourselves ?</h2></div>

            </div>

            <div class="row">
                <div class="col-3 box">
                    <i class="ion-ios-paw icon-big"></i><p class="flow-text">Pitch your start up better</p>
                </div>
                <div class="col-3 box">
                    <i class="ion-cash icon-big"></i><p class="flow-text">You will save money </p>
                </div>
                <div class="col-3 box">
                    <i class="ion-ios-eye icon-big"></i><p class="flow-text">More focus on the vision</p>
                </div>
                <div class="col-3 box">
                    <i class="ion-ios-people icon-big"></i><p class="flow-text">Better hiring decisions</p>
                </div>

            </div>




        </section>


        <section class="section-learn">


            <div class="row">
    <!--                        <i class="ion-ios-book-outline icon-big"></i>-->
                <div class="col-12"><h2>Start Learning</h2></div>

            </div>


            <div class="row material-row">

                <div class="col-4">
                    <div class="material-box">
                        <h3><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web">Start with Web developement</a> </h3>
                        <p>learn how web works and your first step to web developemt</p>
                        <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web" class="btn-blog">Read Now </a>

                    </div>

                </div>

                <div class="col-4">

                     <div class="material-box">
                        <h3><a href="https://www.programiz.com/python-programming/first-program">Start with python</a> </h3>
                        <p>Introduction to python and it's basic features.</p>
                        <a href="https://www.programiz.com/python-programming/first-program" class="btn-blog">Read Now </a>
                    </div>

                </div>

                <div class="col-4">

                     <div class="material-box">
                        <h3><a href="https://docs.djangoproject.com/en/2.0/intro/">First Web app with python</a> </h3>
                        <p>Introduction to Django framework for web development</p>
                        <a href="https://docs.djangoproject.com/en/2.0/intro/" class="btn-blog">Read Now </a>
                    </div>

                </div>

            </div>



            <div class="row material-row">

                <div class="col-4">
                    <div class="material-box">
                        <h3><a href="https://realpython.com/python-web-scraping-practical-introduction/">Scrape data using python </a> </h3>
                        <p>What is webscraping, and how to implement using python.</p>
                        <a href="https://realpython.com/python-web-scraping-practical-introduction/" class="btn-blog">Read Now </a>

                    </div>

                </div>

                <div class="col-4">

                     <div class="material-box">
                        <h3><a href="https://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972">Web app using python Flask</a> </h3>
                        <p>Develope Web app using python microframwork flask.</p>
                        <a href="https://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972" class="btn-blog">Read Now </a>
                    </div>

                </div>

                <div class="col-4">

                     <div class="material-box">
                        <h3><a href="https://code.tutsplus.com/tutorials/sending-emails-in-python-with-smtp--cms-29975">Sending emails with python</a> </h3>
                        <p> Introduction to SMTP, a Python module used for sending mail</p>
                        <a href="https://code.tutsplus.com/tutorials/sending-emails-in-python-with-smtp--cms-29975" class="btn-blog">Read Now </a>
                    </div>

                </div>

            </div>


            <div class="row material-row">

                <div class="col-4">
                    <div class="material-box">
                        <h3><a href="https://www.twilio.com/blog/2017/12/facebook-messenger-bot-python.html">Messenger Bots with Python </a> </h3>
                        <p>Building Facebook Messenger Bots with Python.</p>
                        <a href="https://www.twilio.com/blog/2017/12/facebook-messenger-bot-python.html" class="btn-blog">Read Now </a>

                    </div>

                </div>

                <div class="col-4">

                     <div class="material-box">
                        <h3><a href="https://code.tutsplus.com/articles/image-enhancement-in-python--cms-29289">Image Enhancement in Python</a> </h3>
                        <p>how to enhance images using Python.image inverse,  power law</p>
                        <a href="https://code.tutsplus.com/articles/image-enhancement-in-python--cms-29289" class="btn-blog">Read Now </a>
                    </div>

                </div>

                <div class="col-4">

                     <div class="material-box">
                        <h3><a href="https://www.twilio.com/docs/tutorials/appointment-reminders-python-flask"> Reminders app with python</a> </h3>
                        <p> Build appoinment reminders with python flask </p>
                        <a href="https://www.twilio.com/docs/tutorials/appointment-reminders-python-flask" class="btn-blog">Read Now </a>
                    </div>

                </div>

            </div>



        </section>



        <section class="section-upcoming">



            <div class="row">
    <!--                        <i class=""></i>-->
                <div class="col-12"><h2>Want more ?</h2></div>

            </div>



            <div class="row">
                <div class="col-12 box-upcoming">

                <i class="ion-ios-book-outline icon-big  upcoming-icon "></i><p>We are shooting and documenting our materials . Stay tuned <span>&#8230;</span></p>
                </div>
            </div>


        </section>


    </div>





{% endblock %}