/* .
Color palatte
--------------
Hero color :   #1abc9c

Support color drak : # 2E6171

Support colot Lite:


*/


/*-------------------------------------------------------*/
/*      BASIC SETUP     */
/*-------------------------------------------------------*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif !important;
    font-size: 20px;
    font-weight: 300;
    color: #6a6a6a;
    background-color: #fff;
    text-rendering: optimizeLegibility;

}

.container-fluid {
    padding: 0px;
}

/*-------------------------------------------------------*/
/*      HEADER     */
/*-------------------------------------------------------*/


header {
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/hero-image.jpg);*/
    background-size: cover;
    background-position: center;
    height: 80vh;
}


.site-logo {
    height: 180px;
    width: auto;
    float: left;
    margin-top: 10px;
}
.hero-text-box {
    text-align: center;
    margin-top: 5%;

}

.hero-text-box h3 {
    display: inline-block;
    margin-top: 4%;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 50px;
}

.main-nav li {
    display: inline;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #000;
    font-size: 85%;
    font-weight: 400;
    padding: 10px 0px;
    border-bottom: solid 2px transparent;
    transition : border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: solid 2px #169e83;
}


.main-nav li:last-child a:link,
.main-nav li:last-child a:visited
{
    border: 2px solid #1abc9c;
    padding: 4px 5px;
    transition: border 0.8s;
}

.main-nav li:last-child a:hover,
.main-nav li:last-child a:active
{
    border: 2px solid #0e6252;
}
/*-------------------------------------------------------*/
/*      REUSABLE COMPONENTS     */
/*-------------------------------------------------------*/



h1,h2 {
    word-spacing: 3px;
    color: #000;
    text-transform: uppercase;
}


h1 {
    margin-top: 0px;
    font-size: 240%;
    font-weight: 700;
}

h2 {
    font-size: 150%;
    font-weight: 400;
    text-align: center;
    margin: 30px 0px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #1abc9c;
    content: "";
    margin: 0px auto;
    margin-top: 30px;
}

h3 {
    font-size: 140%;
    word-spacing: 3px;
    font-weight: 300;
}

.long-copy {
    text-align: center;
    margin-bottom: 40px;

}

.learn-para {

    margin: 0px auto;
    margin-bottom: 40px;
    width:60%;
}



/*--------------------- ICONS --------------------------*/


.icon-big {
    display: block;
    font-size: 350%;
    text-align: center;
    color: #2E6171;
}

.icon-small {
    display: inline-block;
    width: 30px;
    font-size: 200%;
    color: #2E6171;
}


.btn-icon {
    color: #2E6171;
    padding-right: 0.5%;
}



.contact-icon {
    color: #2E6171;
    font-size: 100%;
    float: left;
    margin-right: 30px;
}

/*
.row {
    max-width: 1140px;
    margin:0px auto;
}
*/




/*--------------------- ICONS --------------------------*/


a {
    text-decoration: None;
}

/*--------------------- BOXES & SECTIONS --------------------------*/

section {
   padding-bottom: 90px;
}



/*--------------------- BUTTONS --------------------------*/


.btn-blog:link,
.btn-blog:visited
{
    border: 2px solid #1abc9c;
    padding: 4px 5px;
    color: #000;
    text-decoration: none;
    transition: border 0.8s;
    font-size: 85%;
    font-weight: 400;
}

.btn-blog:active,
.btn-blog:hover {
    border: 2px solid #0e6252;
}





/*-------------------------------------------------------*/
/*      BUSINESS ONLINE  SECTION */
/*-------------------------------------------------------*/


section h3 {
    font-size: 110%;
    text-align: center;
    word-spacing: 1px;
    margin-bottom: 40px;
    color: #000;
}

.icon-box p{
    font-size: 90%;
    word-spacing: 1px;
    text-align: center;
}



/*-------------------------------------------------------*/
/*      ABOUT PYTHON  SECTION */
/*-------------------------------------------------------*/



.about-python {
    background-color: #fcfcfc;
}



.pros {
    padding-left: 30px;
    margin-bottom: 40px;
}
.pros div {
    display: inline-block;
    color: #000;
    border: 2px solid #2E6171;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding : 10px;
    margin-right: 25px;
}

.pros p {
    display: inline-block;
    margin-top: 10px;
}

.python-desc p{
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: justify
}



/*-------------------------------------------------------*/
/*      LEARN WITH US SECTION */
/*-------------------------------------------------------*/

.technology-stack {
    margin-bottom: 50px;
}


.technology-icon img {
    display: block;
    height: 80px;
    width: auto;
    text-align: center;
    margin: 0px auto;
}


/*-------------------------------------------------------*/
/*          GET IN TOUCH SECTION */
/*-------------------------------------------------------*/

.get-in-touch {
    text-align: center;
    background-color: rgba(218, 224, 242, 0.09);
}


                                            /*-------------------------------------------------------*/
                                            /*          BLOG INDEX PAGE */
                                            /*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/*          BLOG-INDEX SECTION */
/*-------------------------------------------------------*/


.blog-box {

    text-align: center;
    width:70%;
    margin: 0px auto;
    margin-bottom: 50px;
}


.blog-box p {
    text-align: justify;
}

.blog-desc {
    margin-top: 5%;
}

.blog-desc img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0px auto;
}

.blog-description {
    margin-top: 5%;
}




                                            /*-------------------------------------------------------*/
                                            /*          BLOG  PAGE */
                                            /*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*          BLOG-PAGE SECTION */
/*-------------------------------------------------------*/

.hero-image-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/start_with_python_blog.jpg);
    background-size: cover;
    height: 60%;
    width: auto;
/*    height: 60vh;*/
/*    height: 100%*/
    background-position: center;
    color :#fff;
    text-align: center;

}

.hero-image-box .text-title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-image-box h1 {
    color: #fff;
}

.blog-content:after {
    display: block;
    height: 1px;
    width:60%;
    background-color: #2E6171;
    content: "";
    margin: 0px auto;
    margin-top: 30px;
}

.blog-control {
    margin-top: 5%;
    text-align: center;
}

.blog-control .btn-blog {
    margin-right: 2%;
}






                                        /*-------------------------------------------------------*/
                                        /*          CONTACT PAGE*/
                                        /*-------------------------------------------------------*/



/*-------------------------------------------------------*/
/*          CONTACT DETAILS  SECTION */
/*-------------------------------------------------------*/


.contact-details:before {

    display: block;
    height: 2px;
    width:60%;
    background-color: #bebebe;
    content: "";
    margin: 0px auto;
    margin-top: 30px;
}


.contact-box {

    padding-top: 5%;

}

.direct-contact .contact-box {
    transform: translate(30%, 0%);
}

.forum-contact .contact-box {

    text-align: justify;
}

.company-name {
    font-weight: 400;
    color: #1abc9c;
}

.contact {
    margin-bottom: 20px;
}


.forumn-contact {

}





                                /*-------------------------------------------------------*/
                                /*          LEARN  PAGE */
                                /*-------------------------------------------------------*/



/*-------------------------------------------------------*/
/*          WHYLEARN SECTION */
/*-------------------------------------------------------*/



.box {
    text-align: center;
}



/*-------------------------------------------------------*/
/*         LEARN SECTION */
/*-------------------------------------------------------*/

.section-learn {
    background-color: #f7f7f7;
}


.material-row {
    margin-bottom: 5%;
}


.material-box {
    width: 90%;
    background-color: #fff;
    margin: 5%;
    padding: 5% 1%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #efefef;
}

.material-box a {
    color:#2E6171;
    font-weight: 400;
}


/*-------------------------------------------------------*/
/*         UPCOMING SECTION */
/*-------------------------------------------------------*/


.box-upcoming {
    text-align: center;
}

.box-upcoming span {
/*    display: block;*/
    font-size: 200%;
    color:#1abc9c;
}


/*-------------------------------------------------------*/
/*          FOOTER SECTION */
/*-------------------------------------------------------*/

footer {
    background-color: #2E6171;
    color: #fff;

}

.copy-write {
   margin top: 30px;

}

.copy-write p {
    text-align: center;
    font-size: 80%;
    color: #1abc9c;
}

.social-icon {
    width: 80%;
    text-align: center;
    margin: 30px 0px ;
}


.social-icon a:link,
.social-icon a:visited {
    font-size: 150%;
    color: #fff;
    transition: color 0.8s;
}

.social-icon a:active,
.social-icon a:hover {
    font-size: 150%;
    color: #1abc9c;
}
