{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link href="{% static 'vendors/css/ionicons.min.css'%}" rel="stylesheet">
         <link rel="stylesheet" type="text/css" href="{% static 'css/codeyourbusiness.css' %}">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <div class="container">

            <header>

                {% block header %}

                    <nav>
                    <div class="row">
                        <div class="col float-left">
                            <a href="/"><img class="site-logo float-left" src="{% static '/img/logonew-cyb.png'%}"></a>
                        </div >

                        <div class="col float-right">
                            <ul class="main-nav float-right">
                                <li><a href="/learn">Learn</a></li>
                                <li><a href="/open-source">OpenSource</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>

                        </div>

                    </div>

                </nav>

                {% endblock %}

                {%  block header-text %}


                {% endblock %}



            </header>

            {% block content %}{% endblock %}

        </div>


        {% wagtailuserbar %}

        <footer>
            {% block footer %}

                <div class="container">

                    <div class="row social-media">
                            <div class="col social-icon">
                                <a href="https://twitter.com/CodeYourBusines"><i class="ion-social-twitter-outline"></i></a>
                            </div>
                            <div class="col social-icon">
                                <a href="https://www.facebook.com/Code-Your-Business-177135956262750/"><i class="ion-social-facebook-outline"></i></a>
                            </div>
                            <div class="col social-icon">
                                <a href="#"><i class="ion-social-youtube-outline"></i></a>
                            </div>
                            <div class="col social-icon">
                                <a href="https://github.com/codeyourbusiness"><i class="ion-social-github-outline"></i></a>
                            </div>
                    </div>

                    <div class="row copy-write">
                        <div class="col">
                            <p>&copy; 2018 - codeyourbusiness.com</p>
                        </div>

                    </div>

                </div>

            {% endblock %}


        </footer>


        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/codeyourbusiness.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
