{% extends "base.html" %}

{% load static wagtailcore_tags %}

<!--{% block body_class %}template-homepage{% endblock %}-->

{% block header-text %}

    <div class="hero-text-box">
        <h1>We are a group of passionate <br> Full stack developers</h1>
        <h3>Promting technology for good and helping peoples <br>to build something that have a use in real life.</h3>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <section class="about-section">

            <div class="row about-content">

                <div class="col-12">

                <p>The  Journey  with technology is  never ending, it’s keep on going in different shapes and different uses .</p>

                <p>The idea of codeyourbusiness.com is not concluded  as a site to teach web development and programming, there are lot many resources already available for this .We are here to point out something that’s missing in most of the materials and helps on the technology </p>


                <p>That’s nothing but the correct track you need to follow to complete your first business project in Web .To be more specific, to develop a website you don’t need to take a 3-6 month course which will teach you everything about the web development . Instead if you learn only the inevitable things then you can complete your project with in 2 weeks and start doing the business.</p>

                </div>

            </div>

        </section>

    </div>

{% endblock %}