{% extends "base.html" %}

{% load static wagtailcore_tags %}

<!--{% block body_class %}template-homepage{% endblock %}-->

{% block header-text %}

   <div class="hero-text-box">
        <h1>Let's start discussing !</h1>
        <h3>It's time to make your baby idea to a child.<br> Share your questions and let's make a good solution. </h3>
    </div>

{% endblock %}

{% block content %}

    <section class="contact">

        <div class="row contact">

            <div class="col-6 contact-details direct-contact">

                <div class="contact-box">
                    <p class="company-name">CODE YOUR BUSINESS</p>
                    <div class="contact">
                        <i class="ion-ios-email contact-icon email"></i> <span class="contact-data">codeyourbusiness@gmail.com</span>
                    </div>

                    <div class="contact">
                        <i class="ion-ios-telephone contact-icon tel"></i> <span class="contact-data">+971509001994</span>
                    </div>

                </div>

            </div>


            <div class="col-6 contact-details forum-contact">

                <div class="contact-box">
                    <p>Post your questions on code your business web forum hosted at <a href="https://groups.google.com/forum/#!forum/code-your-business">google groups</a> </p>
                </div>
            </div>

        </div>



    </section>




{% endblock %}