{% extends "base.html" %}

{% load static wagtailcore_tags %}

<!--{% block body_class %}template-homepage{% endblock %}-->

{% block header-text %}

    <div class="hero-text-box">
        <h1>{{ page.hero_text|richtext }}</h1>
        <h3>Break down the walls between your idea and reality<br>code your dream business to the WORLD!</h3>
     </div>

{% endblock %}

{% block content %}

    <section class="business-online">
                <div class="row">
                    <div class="col">
                        <h2>How to build your web product</h2>
                        <p class="long-copy">Now you have an idea and need to present this to your clients , follow these steps to code your idea.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm icon-box">
                        <i class="ion-ios-color-filter-outline icon-big"></i>
                        <h3>Decide the channel</h3>
                        <p>Web app / Mobile App / Chat Bot / API</p>
                    </div>
                     <div class="col-sm icon-box">
                        <i class="ion-ios-ionic-outline icon-big"></i>
                         <h3>Design your idea</h3>
                        <p>Plan features and functionality </p>
                    </div>
                     <div class="col-sm icon-box">
                        <i class="ion-ios-infinite-outline icon-big"></i>
                         <h3>Choose a technology</h3>
                        <p>Easy to learn , reliable and fit for your design</p>
                    </div>
                    <div class="col-sm icon-box">
                        <i class="ion-ios-lightbulb-outline icon-big"></i>
                         <h3>Learn & Code</h3>
                        <p>Learn and Code your designed idea</p>
                    </div>
                    <div class="col-sm icon-box">
                        <i class="ion-ios-world-outline icon-big"></i>
                         <h3>Host your code</h3>
                        <p>So it’s available for the user to view on Web </p>
                    </div>
                </div>

            </section>

    <section class="about-python">
        <div class="row">
            <div class="col">
                <h2>We recommend Python </h2>
                <p class="long-copy">We Love python, and now tell you why you should also .</p>
            </div>
        </div>

        <div class="row w-100">
            <div class="col python-pros">
                <div class="pros">
                    <div class="float-left">1</div>
                    <p>Easy to Learn</p>
                </div>
                <div class="pros">
                    <div class="float-left">2</div>
                    <p>Large Community</p>
                </div>
                <div class="pros">
                    <div class="float-left">3</div>
                    <p>Vast Built-In Libraries</p>
                </div>
                <div class="pros">
                    <div class="float-left">4</div>
                    <p>Reliable Frameworks</p>
                </div>
            </div>
            <div class="col python-desc">
                <p><strong>P</strong>ython is really simple, it’s designed expressly to promote readability of code, and allow simple expression of concepts in very few lines.When you start with projects of your own with Python , you will definitely come across a problem or two with your code. To help you out, there is a large community around Python.</p>

                <P>With learning python you can do variety of programming projects. Whether you want to do data mining, web scraping, program games, create web apps, or do machine learning, Python offers the tools for you.</P>
            </div>
        </div>


    </section>

    <section class="learn-with-us">
        <div class="row">
            <div class="col">
                <h2>Learn with us </h2>
                <p class="learn-para">We use python for all of our project, we will teach you the inevitable skills which you need to develop your web product and sell that as a service.</p>
            </div>
        </div>

        <div class="row technology-stack">
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/Python-icon.png' %}"></a>
            </div>
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/django-icon.png' %}"></a>
            </div>
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/flask-icon.png' %}"></a>
            </div>
        </div>

        <div class="row technology-stack">
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/frontend-icon.png' %}"></a>
            </div>
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/GitHub-icon.png' %}"></a>
            </div>
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/bootstrap-icon.png' %}"></a>
            </div>
        </div>

        <div class="row technology-stack">
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/mysql-icon.png' %}"></a>
            </div>
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/postgresql-icon.png' %}"></a>
            </div>
            <div class="col technology-icon">
                <a href="/learn"><img src="{% static '/img/sqlalchemy-icon.png' %}"></a>
            </div>
        </div>


    </section>

    <section class="help-on-project">
        <div class="row">
            <div class="col">
                <h2>I'm a Busy Person, Help me to code </h2>
                <p class="long-copy">We handle all aspects of the software developmentprocess that allows you to stay focused on your business goals</p>
                <h3>Talk with us, about your exiting project.</h3>
            </div>
        </div>
        <div class="row get-in-touch">
            <div class="col contact">
                <i class="ion-ios-telephone-outline icon-small"></i>
                <p>+971509001994</p>
            </div>
             <div class="col contact">
                 <i class="ion-ios-email-outline icon-small"></i>
                <p>contactcyb@gmail.com</p>
            </div>
             <div class="col contact">
                 <i class="ion-social-skype-outline icon-small"></i>
                <p>cyb.support</p>
            </div>

        </div>
    </section>

{% endblock %}
