{% extends "base.html" %}

{% load static wagtailcore_tags %}

<!--{% block body_class %}template-homepage{% endblock %}-->

{% block header-text %}

    <div class="hero-text-box">
        <h1>We Love and Use  open source <br> for all the work we do</h1>
        <h3>Code your business is open source licensed  <br>  the website code is available on github </h3>
    </div>

{% endblock %}

{% block content %}

    <div class="container">

        <section class="open-source">

            <div class="row opensource-content">

                <div class="col-12">

                <p>We can’t think technology with out open source, the strength and comfort it’s gives  is tremendous .</p>

                <p>We have a huge plans for contributing  to open source, and we awaiting more ideas and support for this from different parts of the world . </p>

                </div>

            </div>



        </section>

    </div>

{% endblock %}